 {{#if user}}
<div id="myListSave">
  <div class="header-save">
    <h5>Save a URL</h5>
  </div>
  <div class="save-url">
    <form action="/save" method="POST">
      <div class="form-group">
        {{!-- <label for="exampleInputURL">URL of Article</label> --}}
        <input type="name" name="url" class="form-control" id="exampleInputURL" aria-describedby="nameHelp" placeholder="http://...">        {{!--
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
      </div>
      <button type="submit" id="btn-mylist" class="btn btn-primary">Submit me</button>
    </form>
  </div>
</div>
<ul id="boom">
  {{#each articles}}
  <div id="scrolling-box">
    <div id="myListDiv">
      <div id="title-text">
        <a href="{{this.url}}" target="_blank">
          <h5>{{this.title}}</h5></a>
        <p>{{this.description}}</p>
        <div class="delete-button">
          <form action="/mylist/{{this.id}}/delete" method="POST">
            <button>Delete</button>
          </form>
        </div>
      </div>
      <div class="article-image">
        <a href="{{this.url}}"><img src="{{this.image}}"></a>
      </div>

    </div>
  </div>
  {{/each}}
</ul>
{{/if}}