 {{#if user}}
<div id="submit-form">
  <h5>Save a URL</h5>
  <form action="/save" method="POST">
    <div class="form-group">
      <label for="exampleInputURL">URL of Article</label>
      <input type="name" name="url" class="form-control" id="exampleInputURL" aria-describedby="nameHelp" placeholder="http://...">      {{!--
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div id="mainlist">
  <ul>
    {{#each articles}}
    <li>
      <a href="{{this.url}}" target="_blank"><h4>{{this.title}}</h4><img src="{{this.image}}"></a>
      <p>{{this.description}}</p>
      <form action="/mylist/{{this.id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}